{{- $hash := include .chezmoi.sourceFile | sha256sum -}}

if not set -q fish_colors_hash; or test $fish_colors_hash != {{ $hash }}

  fish_config theme save "Catppuccin Mocha"
  
  set -U fish_colors_hash {{ $hash }}
end

#
# terminal theme
#
