[init]
	defaultBranch = master
[core]
	editor = vim
[user]
	email = {{ .email | quote }}
	name = {{ .name | title }}
[url "ssh://git@git.platun0v.ru"]
	insteadOf = "https://git.platun0v.ru"
[pull]
	ff = true
	rebase = true
[push]
	default = current
[rebase]
	autoSquash = true
	autoStash = true
	stat = true
	updateRefs = true
[status]
	short = true
	branch = true
	showStash = true
	submoduleSummary = true
